@charset "utf-8";

$blue: hsl(240, 90%, 68%);
$navbar-breakpoint: 480px;
$family-sans-serif:
  BlinkMacSystemFont,
  -apple-system,
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  'Helvetica',
  'Arial',
  sans-serif,
  'FontAwesome';

html,
body,
main {
  height: 100%;
}
.screen {
  overflow-y: scroll;
  max-height: 90%;
}
// Import only what you need from Bulma
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/grid/_all.sass';
@import 'bulma/sass/components/card.sass';
@import 'bulma/sass/components/dropdown.sass';
@import 'bulma/sass/components/level.sass';
@import 'bulma/sass/components/media.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/icon.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/title.sass';
// @import 'bulma/sass/form/_all.sass';
@import 'bulma/sass/components/navbar.sass';
@import 'bulma/sass/form/_all.sass';
@import 'bulma/sass/helpers/_all.sass';

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 10%;
  width: 100%;
  background-color: $white-ter;
}
.mynav {
  &.columns,
  .columns {
    margin-top: 0;
  }
  .column {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .button {
    border-width: 0px !important;
    border-radius: 0px !important;
    flex-direction: column;
    &.is-active {
      border-top-width: 2px !important;
    }
    height: fit-content;
  }
}
